h1, h2, #count1, #buttonPages {
    color: darkblue;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    background: beige;
    max-width: 70%;
    width: 70%;
    text-align: left;
    border: 3px solid darkblue;
}

th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
    border: 2px solid darkblue;
}

td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
    border: 1px solid darkblue;
}

body {
    background: beige;
    color: darkblue;
}

